swagger: "2.0"
info:
  version: "5.0.0"
  title: "Oasis-Scantrad"
host: "api.oasis-scantrad.fr"
basePath: "/"
tags:
- name: "releases"
  description: "Les releases"
- name: "news"
  description: "the latest news"
schemes:
- "http"
paths:
  /releases:
    get:
      tags:
      - "releases"
      summary: "Obtain all releases"
      operationId: "getReleases"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "All is good mtfa"
          schema:
            $ref: "#/definitions/Release"
    put:
      tags:
      - "releases"
      summary: "Update an existing pet"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Pet not found"
        405:
          description: "Validation exception"
definitions:
  Chapter:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "Int64"
      chapter:
        type: "integer"
      status:
        $ref: "#/definitions/ChapterStatus"
  Image:
    type: "object"
    properties:
      small:
        type: "string"
        format: "URL"
        description: "small image link"
      medium:
        type: "string"
        format: "URL"
      big:
        type: "string"
        format: "URL"
      original:
        type: "string"
        format: "URL"
        description: "original image size"
  ChapterStatus:
    type: "object"
    properties: 
      clean:
        type: "object"
        properties:
          users:
            type: "array"
            items:
              $ref: "#/definitions/User"
          value:
            type: "integer"
      traduction:
        type: "object"
        properties:
          users:
            type: "array"
            items:
              $ref: "#/definitions/User"
          value:
            type: "integer"
      verified:
        type: "object"
        properties:
          users:
            type: "array"
            items:
              $ref: "#/definitions/User"
          value:
            type: "integer"
  Release:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      title:
        type: "string"
      description:
        type: "string"
      image: 
        $ref: "#/definitions/Image"
      category:
        type: "string"
        enum:
        - "manga"
        - "comic"
        - "doujin"
        - "one-shot"
      tags:
        type: "array"
        items:
          type: "string"
      chapters:
        type: "array"
        items:
          $ref: "#/definitions/Chapter"
  User:
    type: "object"
    properties:
      id:
        type: "integer"
      name: 
        type: "string"
      avatar:
        $ref: "#/definitions/Image"
      jobs:
        type: "array"
        items: 
          type: "string"
  New:
    type: "object"
    properties:
      id:
        type: "integer"
      title:
        type: "string"
      content: 
        type: "string"
      author:
        $ref: "#/definitions/User"
      comments:
        type: "array"
        items:
          $ref: "#/definitions/Comment"
  Comment:
    description: "TO VERIFY"
    type: "object"
    properties:
      id:
        type: "integer"
      author:
        type: "string"
      content: 
        type: "string"
      